<!DOCTYPE html>
<html>

<head>
    <title>Visual Research Paper</title>
</head>

<body>
    <h1><b><p style="text-align: center;" style="color: #303030;">Visual Research Paper</p></b></h1>
    <h2><i><p style="text-align: center;" style="color: #16e0bd;">By Team Beryllium</p></i></h2>
    <br><hr><br>
    <h1><p style="text-align: center;" style="color: #303030;">Upload Files</p></h1>
    <form action="handle_form" method="post" enctype="multipart/form-data">
        <p style="text-align: center;" style="color: #303030;">
        <input type="file" name="file">
        <input type="submit" value="Upload">
        </p>
    </form>
    
</body>

</html>
